Hi <%= @user.name %>,

Welcome to the Sample App! Click on the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
<% #=>http://www.example.com/account_activations/q5lt38hQDc_959PVoo6b7A/editを形成 %>